body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

header {
  text-align: center;
  padding: 22px;
}

header h2 {
  font-family: cursive;
  text-transform: uppercase;
  margin-top: 20px;
}

.logo {
  width: 78px;
  animation: App-logo-spin 4s ease-in-out infinite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: center;
}

@media (max-width: 667px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 5px 0px;
  }
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

nav ul li {
  text-transform: uppercase;
  font-weight: 500;
}

table {
  border: solid 1px #777;
  width: 98%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 45px;
}

td,
th,
tr {
  border: solid 1px #ddd;
}

td,
tr {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #ddd;
}

table thead tr th.one {
  width: 163px;
}

td,
th {
  padding: 13px 0;
}

section {
  width: 80%;
  margin: auto;
  margin-top: 42px;
}

section > div {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px #ddd;
  padding-top: 15px;
  transition: all 0.5s ease-in-out;
}

section div > div {
  flex-basis: 50%;
  margin-bottom: 15px;
}

@media (min-width: 770px) {
  section > div:nth-child(1),
  section > div:nth-child(3) {
    animation-name: exemple;
    -moz-animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
  }

  section > div:nth-child(2),
  section > div:nth-child(4) {
    animation-name: secondEx;
    -moz-animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
  }

  section > div:nth-child(1) {
    transform: translateX(-2501px);
    animation-delay: 0s;
  }

  section > div:nth-child(2) {
    transform: translateX(2501px);
    animation-delay: 1s;
  }

  section > div:nth-child(3) {
    transform: translateX(-2501px);
    animation-delay: 2s;
  }

  section > div:nth-child(4) {
    transform: translateX(2501px);
    animation-delay: 3s;
  }

  @keyframes exemple {
    from {
      transform: translateX(-2501px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes secondEx {
    from {
      transform: translateX(2501px);
    }

    to {
      transform: translateX(0);
    }
  }
}

section img {
  width: 100%;
  height: 230px;
}

section div div.paragraph {
  display: flex;
}

section div div.paragraph p {
  align-self: center;
  font-style: oblique;
  font-weight: 400;
  font-size: 22px;
}

@media (max-width: 667px) {
  section div div.paragraph p {
    font-size: 14px;
    margin-left: 14px;
  }

  section img {
    width: 84%;
    height: 230px;
  }

  section > div {
    transform: translateX(0);
  }

  header h2 {
    font-size: 21px;
  }
}

.moreInfo {
  width: 80%;
  margin: auto;
}

.moreInfo h5 {
  font-size: 22px;
  margin-bottom: -9px;
}

.moreInfo p {
  font-family: inherit;
  line-height: 26px;
}

.moreInfo p > span {
  font-weight: 600;
  color: black;
  font-size: 22px;
}

.aHolder {
  text-align: center;
  margin: 23px;
}

.aHolder a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  background-color: #079107;
  font-weight: 600;
}

.country-details .top-img {
  text-align: center;
}

.country-details .top-img img {
  height: 140px;
  width: 289px;
}

.country-details .top-img h3 {
  text-transform: uppercase;
  font-family: cursive;
}

.country-details .cards {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 7px;
  margin-bottom: 18px;
}

@media (max-width: 667px) {
  .country-details .cards {
    grid-template-columns: auto;
  }
}

.country-details .cards div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px;
  background-color: #f2f5fa3d;
  border: solid 1px #ddd;
}

.country-details .cards div p img {
  width: 50px;
  height: 50px;
}

.spinner {
  text-align: center;
  height: 304px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner img {
  width: 60px;
  height: 60px;
}
